@import "../config/__config.scss";

.products {
  grid-area: "products";
  margin-left: 60px;
  display: grid;
  grid-template-columns: repeat (auto-fill, minmax (15rem, 1fr));
  color: $tertiary-color;
  text-decoration: none;
  margin-bottom: 0;
  margin-top: 20px;

  h2,
  h3,
  p {
    color: $tertiary-color;
  }


  h3,
  h2 {
    font-size: 18px;
    font-weight: 400;
    text-align: left;
  }

  .addProducts {
    background: $quaternary-color;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4),
      0px 7px 13px -3px rgba(0, 0, 0, 0.3), 0px -3px 0px rgba(34, 38, 42, 0.2);
    border-radius: 4px;
    width: 25px;
    position: absolute;
    top: 52.5%;
    right: -5px;
    outline: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .grid {
    gap: 5px 1px;
    overflow-y: scroll;
    place-content: start;
    place-items: center;
    display: grid;
  }

  .product {
    position: relative;
    box-shadow: 0px 4px 20px -3px rgba(0, 0, 0, 0.45);
    margin-bottom: 20px;
    box-sizing: border-box;
    border-radius: 4px;
    margin-bottom: 1.5rem;
    width: 200px;

    & .product-image img {
      width: 200px;
      height: 160px;
      border-radius: 4px 4px 0px 0px;
      object-fit: cover;
      object-position: center;
    }

    & .product-footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 85px;

      & .product-info {
        & h3 {
          padding-left: 10px;
          text-align: left;
          line-height: 23.71px;
          font-weight: 400;
          font-size: 16px;
          text-wrap: wrap;
        }

        & p {
          padding-left: 10px;
          font-size: 12px;
          margin: 0;

          &.product-stock {
            color: #969696;
          }

          &.low-stock {
            color: $lowStockColor;
          }

          &.out-of-stock {
            color: $outOfStockColor;
          }

        }
      }

    }

    .product-price {
      p {
        font-weight: 400;
        font-size: 16px;
        display: flex;
        padding-right: 10px;
        text-align: left;
      }
    }
  }
}

.activeButton {
  background-color: $secondary-color;
}